*{
    box-sizing: border-box;
}

#title{
    text-align: center;
    font-size: 150px;
    background-color: blueviolet;
    color:gold;
    margin:0px;
}

body{
    background-color: #f9f0d6;
    margin:0px;
}

.informative{
    text-align:left;
    font-size:20px;
    width:50%;
}

#stadium{
    height:400px;
    width:650px;
    margin-right: 20px;
}

p{
    display:inline;
}

.flex{
    display:flex;
    justify-content: space-between;
}

li{
    font-size:45px;
}

.big{
    font-size:90px;
}

.gold{
    color:gold;
}

.purple{
    color:blueviolet;
}

#mural{
    background-color: blueviolet;
    padding: 60px;
}

.table{
    font-size:30px;
}

.NFC{
    font-size: 40px;
}

.team{
    width: 50%;
}

#team-header{
    text-align: left;
}

th{
    font-size:small;
}

td{
    padding-left: 20px;
    padding-right: 20px;
}

#left-team{
    padding-left:0px;
    padding-right: 0px;
}

.bold{
    color:blueviolet;
}

iframe{
    height: 100vh;
    width: 100%;
    margin: -8px;
}

#top-information{
    margin:8px;
}

#middle-information{
    margin:8px;
    margin-top: 100px;
}

#bottom-iformation{
    margin:8px;
}